<!-- Post sharing btn -->
<!--
<div class="post-share-btn ml-auto" id="copy-link" data-toggle="tooltip" data-placement="top" data-title-succeed="{{ site.data.locales[lang].post.button.share_link.succeed }}">
  <i class="fa-fw fas fa-link small"></i>
  <span class="share-label">{{ site.data.locales[lang].post.share }}</span>
</div>
-->

<div class="post-share-btn" id="share_btn">
  <i class="fa-fw fas fa-link small"></i>
  <span class="share-label">{{ site.data.locales[lang].post.share }}</span>
</div>
