<!--
  The Top Bar
-->

<div id="topbar-wrapper">
  <div id="topbar" class="container d-flex align-items-center justify-content-between h-100 pl-3 pr-3 pl-md-4 pr-md-4">
    <span id="breadcrumb">

    {% assign paths = page.url | split: '/' %}

    {% if paths.size == 0 or page.layout == 'home' %}
      <!-- index page -->
      <span>{{ site.data.locales[lang].tabs.home | capitalize }}</span>

    {% else %}

      {% for item in paths %}

        {% if forloop.first %} <!-- HOME -->
          <span>
            <a href="{{ '/' | relative_url }}">
              {{ site.data.locales[lang].tabs.home | capitalize }}
            </a>
          </span>
        {% elsif forloop.last %}
          {% if page.collection == 'tabs' %} <!-- if It's a tab -->
            <span>{{ site.data.locales[lang].tabs[item] | default: page.title }}</span>
          {% else %} <!-- Not tab (top, sub, tags, post) -->
            {% if page.layout == 'category' %}

              {% assign now_name = site.data.locales[lang].tabs[item] | default: page.title %}

              {% assign sort_categories = site.categories | sort %}
              
              {% for category in sort_categories %}
                {% assign category_name = category | first %}
                {% assign posts_of_category = category | last %}
                {% assign first_post = posts_of_category | first %}
          
                {% if category_name == first_post.categories[0] %}
                  {% if category_name == now_name %} <!-- It's TOP category -->
                    <span>{{ page.title }}</span>
                  {% else %} <!-- It's SUB category -->

                    {% assign find = false %}
          
                    {% for post in posts_of_category %}
                      {% assign second_category = post.categories[1] %}
          
                      {% if second_category == now_name and find == false %}
                          {% assign find = true %}

                          <span> <!-- add TOP in front of SUB -->
                            {% capture top_url %}/categories/{{ post.categories[0] | slugify | url_encode }}/{% endcapture %}  
                            <a href="{{ top_url | relative_url }}">
                              {{ post.categories[0] }}
                            </a>
                          </span>

                          <span>{{ page.title }}</span> <!-- and SUB -->

                      {% endif %}
                    {% endfor %}

                  {% endif %}
                {% endif %}
              {% endfor %}

            {% else %}
              <span>{{ page.title }}</span>
            {% endif %}
          {% endif %}

        {% elsif page.layout == 'category' or page.layout == 'tag' %} <!-- Middle -->
          <span>
            <a href="{{ item | relative_url }}">
              {{ site.data.locales[lang].tabs[item] | default: page.title }}
            </a>
          </span>
        {% endif %}
      {% endfor %}

    {% endif %}

    </span><!-- endof #breadcrumb -->

    <i id="sidebar-trigger" class="fas fa-bars fa-fw"></i>

    <div id="topbar-title-wrapper">
      <img id="topbar-avatar" src="{{ avatar_url | strip }}" alt="avatar" onerror="this.style.display='none'">
      <span id="topbar-title">
        {% if page.layout == 'home' %}
          {{- site.data.locales[lang].title | default: site.title -}}
        {% elsif page.collection == 'tabs' or page.layout == 'page' %}
          {%- capture tab_key -%}{{ page.url | split: '/' }}{%- endcapture -%}
          {{- site.data.locales[lang].tabs[tab_key] | default: page.title -}}
        {% else %}
          {{- site.data.locales[lang].layout[page.layout] | default: page.layout | capitalize -}}
        {% endif %}
      </span>
    </div>
    
    <i id="search-trigger" class="fas fa-search fa-fw"></i>
    <span id="search-wrapper" class="align-items-center">
      <i class="fas fa-search fa-fw"></i>
      <input class="form-control" id="search-input" type="search"
        aria-label="search" autocomplete="off" placeholder="{{ site.data.locales[lang].search.hint | capitalize }}...">
      <i id="search-cleaner" class="fa fa-times-circle fa-fw"></i>
    </span>
    <span id="search-cancel" >{{ site.data.locales[lang].search.cancel }}</span>
  </div>

</div>
